form {
    margin: 0px;
    padding: 0;
}

input {
    margin: 6px 0 0 0;
}

input[type=text], input[type=file], select {
    padding: 5px;
    min-width: 400px;
    width: 165px;
    background-color: white;
}

input[type=file] {
    border: 1px solid #888;
}

input[type=submit], input[type=button] {
    min-width: 100px;
    padding: 6px 15px;
    background:  #1BA1E2;
    border: 0;
    text-transform: uppercase;
}

input[type=button].stop {
    background: #E51400;
    color: #fff;
}
    
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

fieldset legend {
    text-transform: uppercase;
}