#chat-list {
    list-style-position: inside;
    list-style-type: none;
    
    background: #fcfcfc;
    font-family: Georgia;
    
    height: 500px;
    overflow: scroll hidden;
    
    padding: 5px;
    margin: 0;
}

#chat-list li span {
    font-style:  italic;
    color: #0f0f0f;
}

#chat-list li.chat {
    color: #0094ff; 
}

#chat-list li.announcement {
    color: #ff006e; 
    font-weight: bold;
}


#now-playing-iframe {
    width:  100%;
    border: 0;
    background: #f3f3f3;
}