doctype 5
html
  head
    title Friday Music Club | #{title}

    link(rel='stylesheet', href='/public/css/core.css')
    
   body
     div(id=head)
       h1 Friday Music Club
     
     div(id=head)
       block content

     div(id=foot)